<!-- Start:Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div>
        <!-- Start:Navbar-brand-logo -->
        <a class="navbar-brand " href="#">
          <img src="../../../../assets/images/logo.PNG" alt="">
        </a>
        <!-- End:Navbar-brand-logo -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Start:Navbar-link -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="login">
            <span class="bi bi-arrow-90deg-right"></span>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            <span class="bi bi-house-door"></span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="bi bi-music-note-list"></span>
            Studios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="bi bi-person-heart"></span>
            Artists
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="bi bi-calendar-event-fill"></span>
            Booking History
          </a>
        </li>
      </ul>
      <!-- End:Navbar-link -->

      <!-- Start:Searchbar -->
      <form class="d-flex ms-auto has-search align-items-center">
        <span class="bi bi-search form-control-feedback"></span>
        <input type="search" class="search form-control me-5" placeholder="Search">
      </form>
      <!-- End:Searchbar -->

      <div class="logout-btn">
        <button type="button" class="btn btn-danger">Logout</button>
      </div>
    </div>
  </div>
</nav>
<!-- End:Navbar -->

<!-- <div class="d-flex">
        <a href="" class="profile">
          <img src="assets/images/profile.png" alt="">
        </a>
      </div> -->