// import base file
@import "assets/scss/base/index";

// import vendor file
@import "assets/scss/vendor/index";

// import vendor file
@import "assets/scss/layout/index";

//Bootstrap Icons
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

