// Body
$body-bg: #ffffff;

//Font
$font-size-base: 0.90rem;
$font-family-sans-serif: Poppins, sans-serif;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;

$primary:#33a1cc;

//Navbar
$navbar-light-active-color: #2c61d7;
$navbar-light-brand-color: $navbar-light-active-color;
$nav-link-hover-color:$navbar-light-active-color;
$navbar-padding-y:1rem;

$img-width:40px;
$img-height:40px;
$img-wrap-border-radius:50%;